p {color:black;}

html, body
{
    background-color:#808080 ;
    
}




/*INDEX*/
#head
{
    background-color:black;
    border:2px solid black;
    color:white;
    text-align:center;
    
}

#navigator
{
    line-height:2;
    font-size:25px;
    height:200px;
    width:150px;
    background-color:#A0A0A0;
    color:#181818;
    border:2px solid black;
    text-decoration:;
}

#navigator a:link
{

}

#navigator a:hover
{
font-size:26px;  
}

#navigator a:active
{
    
}

#content
{
    background-color:#B0B0B0;
    border:2px solid black;
}

#footer
{
    background-color:#C8C8C8;
    border:2px solid black;
    text-align:right;
}
#loggo
{
    height:200px;
    width:200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border:2px solid black;
}
#pic1
{
    height:300px;
    width:300px;
}




/*Presentation*/
#picoffme1
{
    height:300px;
    width:300px;
    margin-left:80%;
}

/*Labroationer*/
#picsandvid
{
    background-color:#383838;
    border:2px black;
    width:200px;
    height:150px;
}

#table
{
 background-color:#383838;
 border:2px black;
 width:350px;
 height:350px;
}





/*Kontakt*/